.or {
    width: 700px
}
.birth {
        width: 700px
    }
    .green {
        color:darkgreen
    }
    .blue {
        color: blue;
    }
    .red {
        color: red;
    }
    body{
    background-color: #00FFFF;
    }
    p {
        color: #7B68EE
    }
    h2 {
        color: #FF00FF;
    }